// this file includes all the scss that is the set up and helper funcs/mixins
// no usuable classes should be outputted

// should be used in projects where you don't want all the general cj classes to be in the stylesheet output

@import 'vendor/all';

@import "settings/all";
@import "tools/all";
@import 'helpers/all';


@mixin set-flow-space-variable($name, $size) {
  $font-map: map-get($cj-typography-scale, $size);

  @each $breakpoint, $breakpoint-map in $font-map {
    $font-size: map-get($breakpoint-map, "font-size");
    $font-size-rem: cj-px-to-rem($font-size);
    @if not $breakpoint {
      --flow-space-#{$name}: #{$font-size-rem};
    } @else {
      @include mq($from: $breakpoint) {
        --flow-space-#{$name}: #{$font-size-rem};
      }
    }
  }
}

:root {
  // flow variables
  @include set-flow-space-variable('avg', 42);
  @include set-flow-space-variable('small', 20);
  @include set-flow-space-variable('large', 60);
}
