{% macro cjFooter(params) %}
<footer class="cj-footer">
	<div class="cj-footer__content">
		<div class="cj-footer__content__item">
			<p>&copy; 2008 &mdash; 2022</p>
			<p class="cj-footer--text-xs">The majority of the content on this site is published under a <a
					href="http://creativecommons.org/licenses/by/3.0/" target="new" rel="noopener">Creative
					Commons Attribution 3.0 licence</a>.</p>
		</div>
		<div class="cj-footer__content__item">
			<p>
				Made by <a href="https://twitter.com/colmbritton">@colmbritton</a>
			</p>
			<p class="cj-footer--text-xs">A random collection of my <a href="/notes">notes</a>.</p>
		</div>
	</div>
</footer>
{% endmacro %}
