<!DOCTYPE html>
<html class="cj-template" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{%- block pageTitle %}{% endblock %}</title>

  <!-- Search Engine -->
  <meta name="description" content="{{ pageDescription }}">
  <meta name="author" content="Colm Britton">

  {%- block canonicalTag %}
  <link rel="canonical" href="{{ canonicalURL }}" />
  {% endblock canonicalTag -%}

  {% block head %}
    {%- block headStart %}{% endblock headStart -%}

    {%- block pageAssets %}
      {% block googleFonts %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Esteban&family=Ibarra+Real+Nova:wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@300;400;600;700;800&display=swap" rel="stylesheet">
      {% endblock %}
      
      {%- block stylesheets -%}
          <link rel="stylesheet" media="all" href="{{ assetPath }}/stylesheets/colmjude-frontend.css" />
          {% endblock stylesheets -%}
      {% endblock pageAssets %}

      {% block favicon %}{% endblock favicon %}

      {%- block headEnd %}{% endblock headEnd -%}
  {% endblock head %}
</head>
<body class="cj-template__body{{ ' ' + bodyClasses if bodyClasses }}">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  {% block bodyStart %}{% endblock %}

  {%- block header %}{% endblock header %}

  {% block main -%}
  <main class="cj-main">
    {% block content %}{% endblock %}
  </main>
  {%- endblock %}

  {%- block footer %}{% endblock footer %}
  
  {% block bodyEnd %}
    {%- block bodyScriptsStart %}{% endblock bodyScriptsStart %}

    {%- block bodyScripts %}
        {% block commonScripts %}{% endblock commonScripts %}
        {%- block pageScripts %}{% endblock pageScripts %}
    {%- endblock bodyScripts %}

    {%- block bodyScriptsEnd %}{% endblock bodyScriptsEnd %}
  {% endblock %}
</body>
</html>
