// specifically for long form content
// e.g. blog posts, note, articles, etc
.cj-long-form {
  @extend %cj-flow;
  --flow-space: var(--flow-space-avg);
  max-width: 50rem; // limit line length
  line-height: 1.5;

  .cj-heading-l,
  .cj-heading-m {
    --flow-space: var(--flow-space-large);

    & + * {
      --flow-space: var(--flow-space-small);
    }
  }

  .cj-heading-s,
  .cj-heading-xs {
    & + * {
      --flow-space: var(--flow-space-small);
    }
  }

  .cj-figure,
  .cj-figure + * {
    --flow-space: var(--flow-space-large);
  }

  .cj-code-block + * {
    --flow-space: var(--flow-space-avg);
  }
}
