$cj-text-colour: #262731;
$cj-page-background-colour: #fff;

$cj-off-white: #f5f3f0;

$cj-link-colour: #3a5d8b;
$cj-link-hover-colour: #ae3724; // darken(#d95a45, 15)
$cj-link-visited-colour: lighten($cj-link-colour, 10);
$cj-link-active-colour: darken($cj-link-colour, 5);

/// Logo colours (Red and Blue)
///
/// @type Colour
/// @access public

$cj-dark-blue-colour: #1c2d43;
$cj-red-colour: #d95a45;


// focus colours
// -----------------------------------------

$cj-focus-colour: #53B7EA;
$cj-focus-text-colour: $cj-text-colour;
