/// Extra width used to break out of containers on larger screens
///
/// @type Number
/// @access public

$cj-full-width-increase: 20%;

/// Width of gutter between grid columns
///
/// @type Number
/// @access public

$cj-gutter: 30px !default;

/// Width of half the gutter between grid columns
///
/// @type Number
/// @access public

$cj-gutter-half: math.div($cj-gutter, 2);
