.cj-footer {
  box-sizing: border-box;
  padding: ($cj-gutter * 1.5) $cj-gutter-half;
  background: $cj-dark-blue-colour;
  color: $cj-off-white;
  @include cj-font($size: 20);
  font-family: $cj-font-family-sans;

  @include mq($from: tablet) {
    padding: $cj-gutter * 1.5;
  }

  p {
    max-width: 100%;
  
    &.cj-footer--text-s {
      @extend %cj-body-s;
      max-width: 400px;
      color: $cj-off-white;
      font-family: $cj-font-family-sans;
    }
  }

  a {
    color: $cj-off-white;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


.cj-footer__content {
  @include mq($from: 550px) {
    display: flex;
  }

  .no-flexbox & {
    @include cj-clearfix;
  }

  .cj-footer__content__item {
    @include mq($from: 550px) {
      width: 50%;
      padding-right: 20px;

      .no-flexbox & {
        width: 49%;
        float: left;
      }
    }

    &:last-child {
      margin-top: $cj-gutter * 1.5;
      padding-right: 0;

      @include mq($from: 550px) {
        margin-top: 0;
        padding-left: 20px;
        text-align: right;
      }
    }
  }
}
